@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Rubik&display=swap');
.welcome {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 35px;
  background: #64b937;
}
.welcome p {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  margin-left: 40px;
  margin-top: 10px;
  color: white;
}
.navbar_logo {
  display: none;
}
.search_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin-top: 25px;
}
.all_categories {
  width: 262.57px;
  height: 57px;
  background: #7ac751;
  border: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  margin-left: 14vw;
  padding-bottom: 15px;
}
.dropdown_content {
  display: none;
  width: 262.57px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 14vw;
}
.dropdown_content a {
  height: 30px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  background-color: #f7f8fa;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
  padding-left: 20px;
  padding-top: 10px;
}
.categories:hover .dropdown_content {
  display: flex;
  flex-direction: column;
}
.home_nav_bar_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 0;
  background-color: #f9f9f9;
  height: 57px;
  gap: 15vw;
}
.other_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  margin-top: 20px;
}
.other_links a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-weight: 1000;
}
.banner {
  width: 58vw;
  height: 60vh;
  background-color: rgba(241, 250, 255, 0.88);
  margin-left: 29.5vw;
  margin-right: 20vw;
  margin-top: 0.5vw;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.banner .banner_titles {
  padding-top: 40px;
  margin-left: 30px;
  width: 18vw;
}

.banner_titles .title1 {
  font-family: 'Rubik', sans-serif;
  color: #7ac751;
  font-size: 20px;
}
.banner_titles .title2 {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  color: #2f2f2f;
}
.banner_titles .title3 {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 1000;
  color: #515151;
  position: relative;
  bottom: 30px;
}
.banner_titles .shop_now {
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  color: white;
  background: #7ac751;
  border: none;
  height: 40px;
  width: 130px;
  position: relative;
  bottom: 30px;
}
.banner_products {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 2vw;
  padding-left: 2vw;
}
.picture1 {
  margin-top: 10px;
  margin-left: 1vw;
  height: 20vw;
  width: 20vw;
}
.small_image_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.small_image_container img {
  padding: 15px;
  border-radius: 5px;
  height: 2vw;
  width: 2vw;
}
.small_image_container div {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.small_image_container .product_desc {
  color: #555555;
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  position: relative;
  bottom: 20px;
}
.products_heading {
  display: flex;
  justify-content: center;
  font-family: 'Mulish', sans-serif;
  font-size: 29px;
  margin-top: 50px;
  color: #555555;
  font-weight: 1000;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 100px;
  width: 100%;
}
.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
}
.product-card:hover .product_image_icons {
  display: flex;
}
.product-image {
  background-color: #ebebeb;
  transition: transform 0.5s ease;
}

.product_image_icons {
  position: absolute;
  top: 80px;
  left: 180px;
  display: none;
  flex-direction: column;
  gap: 0;
  z-index: 99 !important;
}
.product_image_icons img {
  width: 89px;
  height: 89px;
  margin-top: -40px;
}
.product-name {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #11142d;
}
.product-price {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  margin-top: 6px;
  color: #7ac751;
}
.product_link {
  text-decoration: none;
}
.line {
  width: 150px;
  position: relative;
  left: 10vw;
  bottom: 30px;
}
.search form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 2px solid #7ac751;
  border-radius: 5px;
  height: 35px;
  width: 40vw;
}
.search_field {
  width: 15vw;
  padding: 6px;
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
}
.categories_to_search {
  padding-top: 10px;
  background-color: white;
  border: none;
  border-left: 1px solid #e3e3e3;
  font-family: 'Rubik', sans-serif;
  color: #555555;
}
.arrow {
  margin-left: 0.2vw;
}
.dropdown-content {
  display: none;
  flex-direction: column;
  width: 128.57px;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -0.6vw;
  margin-top: 7px;
}
.dropdown-content a {
  height: 30px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  background-color: #f7f8fa;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
  padding-top: 10px;
}
.categories_to_search:hover .dropdown-content {
  display: flex;
}
.search-btn {
  background-color: #7ac751;
  border: none;
  padding: 6.5px;
  height: 35px;
  margin-left: -10vw;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu {
  position: relative;
  top: 5px;
  padding-right: 10px;
}
.discount {
  padding-left: 15vw;
}
.dollars {
  position: absolute;
  right: 450px;
  bottom: 40vh;
}
.price {
  font-family: 'Rubik', sans-serif;
  color: #7ac751;
  font-size: 10px;
  position: relative;
  left: 20px;
  bottom: 20px;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}
.next {
  position: relative;
  top: 10px;
  left: 5px;
}
.next-page {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Rubik', sans-serif;
}
.next-page-button {
  background-color: #7ac751;
  color: white;
  width: 110px;
  height: 20px;
  padding-left: 12px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: 150px;
}
.current-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.current-page button {
  position: relative;
  top: 12px;
  height: 25px;
  width: 40px;
}
.page,
.button,
.total-pages {
  color: #757575;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
}
.pagination-controls {
  background-color: #7ac751;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.pagination-controls img {
  height: 15px;
}
.pagination-controls button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7ac751;
  width: 20px;
  height: 20px;
  border: none;
}
/*====================MEDIA QUERIES(MEDIUM DEVICES)==================*/
@media screen and (max-width: 1024px) {
  .banner {
    display: none;
  }

  .all_categories {
    width: 212.57px;
    height: 57px;

    margin-left: 8vw;
    padding-bottom: 15px;
  }
  .home_nav_bar_container {
    gap: 12vw;
  }
  .other_links {
    gap: 45px;
  }
  .navbar_logo {
    display: none;
  }
  .products-container {
    margin-left: 10vw;
  }

  /*====================MEDIA QUERIES(SMALL DEVICES)==================*/
  @media screen and (max-width: 600px) {
    .icons {
      display: none;
    }
    .other_links {
      display: none;
    }
    .bottomnav-container {
      display: flex;
    }
    .logo {
      display: none;
    }
    .search form {
      width: 70vw;
    }
    .search_categories {
      display: none;
    }
    .welcome {
      background-color: #f7f8fa;
    }
    .welcome p {
      display: none;
    }
    .navbar_logo {
      display: block;
    }
    .home_nav_bar_container {
      display: none;
    }
    .products_list {
      width: 100vw;
      margin-left: -10px;
    }
    .product-card {
      margin-top: 20px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 1px 0 10px #555555;
    }
    .product-name {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .product-price {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black;
    }
    .product-image {
      border-radius: 5px;
    }
    .products_heading {
      display: none;
    }
    .go_back {
      display: none;
    }
    .pagination {
      display: none;
    }
    .products-container{
      margin-top: 10px;
    }
  }

  /*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
  @media screen and (max-width: 375px) {
    .bottomnav-container {
      display: flex;
    }
    .products_list {
      background-color: white;
    }
  }
}
