*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
.sidebar-container-dashboard {
    width: 297px;
    position: relative;
    left: 0;
    height: 100vh;
    background-color: #fff;
    color: #000;
    transition: all .5s ease;
}
.sidebar-container-dashboard .logo-dash {
    width: 150px;
    height: 40px;
    top: 2rem;
    margin-left: 3.8rem;
    margin-bottom: 2rem;
}
.active{
    background-color: #D7F9C5;
}
.not-active{
    background-color: #000;
}
.sidebar-links{
margin-top: 1rem;
display: table;
width: 100%;
padding-left: 2rem;
padding-bottom: 3px;
height: 56px;
text-decoration: none;
color: #000;
}
.sidebar-links link {
    background-color: #C5C5C5;
}
.sidebar-links:hover{
    background-color: #D7F9C5;
    color: #000;
}
.sidebar-links img{
position: relative;
margin: 0 1.7rem;
width: 20px;
height: 30px;
top: 9px;
}
.sidebar-container-dashboard button{
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 3.6rem;
    width: 100%;
    background-color: transparent;
    color: #C5C5C5;
    position: relative;
    top: 15px;
    text-transform: capitalize;
}
.sidebar-container-dashboard button img{
    margin-right: 30px;
}
.sidebar-container-dashboard button:hover {
    background-color: #D7F9C5;
    border: none;
    border-radius: 0%;
}
.checkbtn{
    color: #000;
    font-size: 30px;
    top: 13px;
    left: 20px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    display: none;
}
#checkBox{
    display: none;
}
@media only screen and(max-width: 768px) {
    .sidebar-container-dashboard{
        width: 600px;
    }
}

/*====================MEDIA QUERIES(SMALL DEVICES)==================*/
/*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
@media screen and (max-width:600px) {
    .sidebar-container-dashboard {
        position: fixed;
        background-attachment: scroll;
        z-index: 1;
        left: -100%;
        top: 5rem;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .logo-dash{
        display: none;
    }
    .checkbtn{
        display: block;
    }
    #checkBox:checked ~ .sidebar-container-dashboard{
        left: 0;
    }
}